# Rename this file to `.env` or `.env.example` in your local environment.
OPENAI_API_KEY=your_openai_api_key
ANTHROPIC_API_KEY=your_anthropic_api_key
POSTGRES_URL=postgresql://user:password@localhost:5432/worldmodel 